@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
       background-color:#FFFFFF;
     }

/* Default background colour, and font size */
.remark-slide-content{ font-family: 'Fira Sans', 'Yanone Kaffeesatz';
                       font-size: 130%;    /* Regular text */
                     }

a, a > code {
  color: #FF0000; /*default: rgb(249, 38, 114); || sets color of links */
  text-decoration: none; /* turns off background coloring of links */
}

.title-slide {
  background-color: #1D375B;
  border-top: 80px solid #1D375B;
}


.title-slide h1  {
  color: #FFFFFF;
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}

.title-slide h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #FFFFFF;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide h3  {
  color: #FFFFFF;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

hr, .title-slide h2::after, .mline h1::after {
  content: '';
  display: block;
  border: none;
  background-color: #FF0000;
  color: #FF0000;
  height: 2px;
}

.pull-left {
  margin-top: -20px;
  float: left;
  width: 47%;
}

.pull-right {
  margin-top: -20px;
  float: right;
  width: 47%;
}


.pull-left-wide {
  margin-top: -20px;
  float: left;
  width: 63%;
}
.pull-right-wide {
    margin-top: -20px;
  float: right;
  width: 63%;
}

.pull-left-small {
    margin-top: -20px;
  float: left;
  width: 30%;
}
.pull-right-small {
    margin-top: -20px;
  float: right;
  width: 30%;
}

.pull-right-small-center {
    margin-top: -20px;
  float: right;
  width: 30%;
  text-align: center;
}

.pull-left-center {
    margin-top: -20px;
  float: left;
  width: 47%;
  text-align: center;
}
.pull-right-center {
    margin-top: -20px;
  float: right;
  width: 47%;
  text-align: center;
}

.font500 {
  font-size: 500%;
}

.font750 {
  font-size: 750%;
}

